<div id="macro_results" class="alert alert-success">
  <div>Calories: <%= @macro_calculator.calories %></div>
  <div>Carbs: <%= @macro_calculator.carb_grams %> grams</div>
  <div>Protein: <%= @macro_calculator.protein_grams %> grams</div>
  <div>Fat: <%= @macro_calculator.fat_grams %> grams</div>
</div>
