<% content_for :title, "Foods" %>

<% if @foods.present? %>
  <div id="foods" class="list-group mb-3">
    <h1>Foods</h1>
    <% @foods.each do |food| %>
      <%= render food %>
    <% end %>
  </div>
  <%= link_to "Add", new_food_path, data: { controller: "bridge--button", bridge_ios_image: "plus" }, class: "btn btn-outline-primary w-100" %>
<% else %>
  <div class="d-flex justify-content-center">
    <div class="text-center">
      <h1>No foods found</h1>
      <%= link_to "Create one", new_food_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
