<% content_for :title, "Foods" %>

<% if @foods.present? %>
  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <div class="d-flex justify-content-between align-items-end mb-3">
        <h1>Foods</h1>
        <%= link_to "New", new_food_path, data: { controller: "bridge--button", bridge_ios_image: "plus" }, class: "btn btn-outline-primary" %>
      </div>

      <% @foods.each do |food| %>
        <%= render food %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="d-flex justify-content-center">
    <div class="text-center">
      <h1>No foods found</h1>
      <%= link_to "Create one", new_food_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
