@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

[data-bs-theme] {
  background-color: var(--bs-body-bg)
}

html[data-platform-hotwire-native] {
  .hidden-on-native {
    display: none;
  }

  // Note: this is heavy-handed and a more granular approach is probably warranted
  h1 {
    display: none
  }
}

html[data-platform-web] {
  .hidden-on-web {
    display: none;
  }
}

/* bridge--form component */
[data-bridge-components~="form"] [data-controller~="bridge--form"] [type="submit"] {
  display: none;
}

/* bridge--button component */
[data-bridge-components~="button"] [data-controller~="bridge--button"] {
  display: none;
}

/* bridge--calculator-button component */
[data-bridge-components~="calculator"] [data-controller~="bridge--calculator-button"] {
  display: none;
}

// Progress Rings
$carbs-red: #c53f3d;
$protein-green: #94d55a;
$fat-blue: #70bed7;

.carbs {
  color: $carbs-red
}

.protein {
  color: $protein-green
}

.fat {
  color: $fat-blue
}

@keyframes RingProgress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.progress-rings-wrapper {
  width: 256px;
  height: 256px;
}

.progress-rings {
  height: 100%;
  width: 100%;

  .ring {
    transform-origin: 50%;
  }

  .ring1 {
    .background {
      stroke: transparentize($carbs-red, 0.8);
    }

    .completed {
      stroke: $carbs-red;
    }
  }

  .ring2 {
    .background {
      stroke: transparentize($protein-green, 0.8);
    }

    .completed {
      stroke: $protein-green;
    }
  }

  .ring3 {
    .background {
      stroke: transparentize($fat-blue, 0.8);
    }

    .completed {
      stroke: $fat-blue;
    }
  }

  .completed {
    animation: RingProgress 1s ease-in-out forwards;
    stroke-linecap: round;
  }

  circle {
    fill: none;
  }
}
