<%= form_with model: goal, id: dom_id(goal), data: { controller: "autosave" }, class: "mb-3", html: { autocomplete: "off" } do |form| %>
  <div class="form-floating">
    <%= form.number_field :amount, data: { action: "input->autosave#submit" }, id: "#{dom_id(goal)}_amount", class:"form-control" %>
    <%= form.label "#{dom_id(goal)}_amount", goal.name.titleize %>
  </div>
<% end %>
