<%= link_to edit_goal_path(goal),  id: dom_id(goal), class: "list-group-item list-group-item-action" do %>
  <div class="d-flex w-100 justify-content-between align-items-baseline mb-2">
    <div class="fs-2"><%= goal.name %></div>
    <div class="fs-4 text-muted"><%= goal.amount %></div>
  </div>
<% end %>
