<% content_for :title, "Goals" %>

<% if @goals.present? %>
  <div id="goals" class="list-group mb-3">
    <% @goals.each do |goal| %>
      <%= render goal %>
    <% end %>
  </div>
  <%= link_to "Add", new_goal_path,
    "data-controller": "bridge--button",
    "data-bridge-side": "right",
    "data-bridge-ios-image": "plus",
    class: "btn btn-outline-primary w-100 mb-3"
  %>
  <%= link_to "Calculator", new_macro_calculator_path,
    "data-controller": "bridge--calculator-button",
    "data-bridge-side": "left",
    class: "btn btn-outline-success w-100"
  %>
<% else %>
  <div class="d-flex justify-content-center">
    <div class="text-center">
      <h1>No goals found</h1>
      <%= link_to "Create one", new_goal_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
