<%= content_for :title, "Today" %>

<div class="mb-3">
  <% if @stats.present? %>
    <%= render "progress_rings", stats: @stats, goals: @goals %>
    <%= render "stats", stats: @stats, goals: @goals %>
  <% else %>
    <div class="fs-1">No entries, yet.</div>
    <p class="lead text-muted">Add your first entry to start tracking your macros.</p>
  <% end %>
</div>

<%= link_to "Add entry", new_entry_path, data: { controller: "bridge--button", bridge_ios_image: "plus" }, class: "btn btn-outline-primary w-100" %>
