<div id="<%= dom_id entry %>" class="d-flex w-100 justify-content-between align-items-baseline">
  <div class="fs-4"><%= entry.name %></div>
  <div class="text-muted"><%= pluralize(entry.servings, "serving") %></div>
</div>
