<% content_for :title, "Entries" %>
 
<% if @entries.present? %>
  <div id="entries">
    <% @entries.each do |meal, entries| %>
      <div class="mb-3">
        <h3><%= meal.capitalize %></h3>
        <div class="list-group mb-3">
          <% entries.each do |entry| %>
            <%= render entry %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= link_to "Add", new_entry_path, data: { controller: "bridge--button", bridge_ios_image: "plus" }, class: "btn btn-outline-primary w-100" %>
  </div>
<% else %>
  <div class="d-flex justify-content-center">
    <div class="text-center">
      <h2 class="fs-1">No entries found.</h2>
      <p class="lead">Add your first one for today.</p>
      <%= link_to "Create one", new_entry_path, data: { controller: "bridge--button", bridge_ios_image: "plus" }, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
